html, body, input {
    font-family: Georgia, Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: bold;
    color: #b5525c;
    font-size: 32px;
}
body {
    background: #6bc5d2;
    padding: 10px;
    height: auto;
    width: auto;
}


#title {
    display: inline-grid;
    grid-template-columns: 65vh 50vh

}

form {
    margin: 15px 0;
}

    form input[type='text'] {
        border: 2px solid #00635D;
        border-radius: 5vh;
        padding: 2vh;
        width: 85vh;
    }

    form input[type='submit'] {
        background: #b5525c;
        border: none;
        border-radius: 5vh;
        color: #FFF;
        cursor: pointer;
        font-weight: bold;
        padding: 2vh 1vh;
        width: 20vh;
    }
#user_name {
    width: 20vh;
}
#history {
    background: #d2fafb;
    border: 5px solid #b5525c;
    border-radius: 10px;
    height: 50vh;
    width: 108vh;
}
